* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Majesty';
    src: url(./assets/fonts/majesty.otf) format("truetype");
}

body {
    background-image: url(assets/fundo.png);
    background-attachment: fixed;
}

header {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 0px;
}

.cabecalho {
    display: flex;
    max-height: 130px;
    flex-flow: column nowrap;
    z-index: 1;
    padding: 12px 8px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #0f172a2a;
    align-self: start;
    position: fixed;
    top: 0%;
    background-color: #f0f9ff;
}

.titulo {
    color: #0f172a;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.texto-topico::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #222222;
    transition: width 0.3s ease;
}

.texto-topico:hover::after, .texto-topico:active::after {
    width: 100%;
}

.texto-topico {
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #18181b;
}

.link-curriculo {
    display: none;
}

.conteudo-header {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
    margin-top: 20vh;
    align-items: center;
}

.perfil {
    border-radius: 50%;
    max-width: 280px;
    min-height: 280px;
}

.descricao {
    display: flex;
    margin-top: 20px;
    flex-flow: column nowrap;
    text-align: center;
    max-height: 90%;
    gap: 10px;
}

.subtitulo {
    font-weight: 500;
}

.contato {
    font-weight: 600;
    list-style-type: none;
    border: 2px solid #0f172a;
    margin: 12px 0px;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    color: #222222;
    transition: background-color 0.3s ease;
}

.contato:hover {
    font-weight: 500;
    background-color: #bae6fd;
    color: #0c0a09;
    cursor: text;
    font-size: 1em;
}

.link:hover {
    cursor: pointer;
}

.link-clicavel {
    text-decoration: none;
    color: #222222;
}

.link-clicavel:active {
    text-decoration: none;
    color: #222222;
}

.container-principal {
    padding: 0px 10px;
}

#habilidade-titulo, #projeto-titulo, #sobre-mim-titulo {
    margin-top: 10vh;
    text-align: center;
    font-size: 0.8em;
    color: #10b0f5;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-shadow: 1px 1px 1px #52525b1a;
}

.linha-decorativa {
    display: inline-block;
    width: 50px;
    height: 1.6px;
    background-color: #38bdf8;
    border-radius: 2px;
}

.texto-titulo {
    text-align: center;
    margin: 15px 0px 30px 0px;
    font-weight: 600;
    font-size: 1.8em;
    color: #0f172a;
}

.lista-habilidade {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;

}

.item-habilidade {
    min-width: 47.5%;
    max-width: 47.5%;
    overflow-wrap: break-word;
    word-break: break-word;
    min-height: 140px;
    max-height: 200px;
    box-shadow: 1px 1px 3px #0000002a;
    background-color: #f3f7fd;
    display: flex;
    flex-flow: column-reverse nowrap;
    text-align: center;
    list-style-type: none;
    gap: 6px;
    font-size: 1em;
    padding: 10px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.item-habilidade span {
    color: #57534e;
}

.item-habilidade img {
    max-height: 40px;
    max-width: 40px;
}

#habilidades, #projetos, #outros-projetos {
    margin-bottom: 20vh;
}

.projetos-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;
}

.projeto-article {
    background-color: white;
    box-shadow: 0px 0px 5px #0000002a;
    max-width: 90%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 300px 100px;
    padding: 5px 10px 10px 10px;
}

.outro-projeto-article {
    background-color: white;
    box-shadow: 0px 0px 5px #0000002a;
    max-width: 90%;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 300px 120px;
    padding: 20px 15px;
    padding-bottom: 40px;
}

.imagem-mobile {
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
    justify-self: center;
}

.card-projeto {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    padding: 04px 12px;
}

.titulo-projeto {
    font-family: "Majesty";
    letter-spacing: 2px;
    font-size: 1em;
}

.subtitulo-projeto {
    color: #737373;
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 14px;
}

.card-botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-botoes a {
    padding: 6px;
    width: 45%;
    border: 1px solid #0000002a;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #222222;
    font-size: 0.8em;
}

.card-botoes a:hover {
    box-shadow: 4px 4px 1px #0000004a;
}

#botao-site {
    background-color: #38bdf8;
    color: white;
    text-shadow: 1px 1px 1px #0000002a;
}

#botao-aplicativo {
    background-color: #fbbf24;
    color: white;
    width: 100%;
    align-self: center;
    text-shadow: 1px 1px 1px #0000002a;
}

#botao-aplicativo:hover {
    box-shadow: 5px 5px 1px #0000004a;
}

#botao-livro {
    background-color: #38bdf8;
    color: white;
    text-shadow: 1px 1px 1px #0000002a;
    width: 100%;
}

#sobre-mim {
    padding: 0px 20px;
}

.sobre-mim-article {
    width: 100%;
    display: grid;
    grid-template-rows: 300px auto;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #0000002a;
}

.foto-grid {
    grid-row: 1;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #0f172a1a;
    display: flex;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f4;
}

.foto-grid img {
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
}

.texto-grid {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.texto-grid h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.2em;
}

.texto-grid p {
    line-height: 24px;
}

.container-quebra {
    display: flex;
    margin: 9px 0;
    justify-content: center;
}

.quebra {
  display: block;
  width: 100%;
  transform: translateY(25%);
}

.quebra svg {
  width: 100%;
  height: 20px;
}

.quebra polyline {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  opacity: 0.6;
}



@media screen and (min-width: 321px) {
.outro-projeto-article {
    grid-template-rows: 300px 100px;
}

.conteudo-header {
    margin-top: 14vh;
}

.perfil {
    max-width: 300px;
    min-height: 300px;
}

.cabecalho {
    padding: 12px 14px;
}
}

@media screen and (min-width: 568px) {
.outro-projeto-article {
    grid-template-rows: 300px 80px;
}

.perfil {
    max-width: 340px;
    min-height: 340px;
}

.cabecalho {
    padding: 12px 50px;
}

.descricao {
    padding: 0px 100px;
}

.container-principal {
    padding: 0px 30px;
}

.item-habilidade {
    min-height: 130px;
    max-height: 130px;
    font-size: 1em;
}

.item-habilidade img {
    max-height: 50px;
    max-width: 50px;
}

.projeto-article {
    grid-template-rows: 300px 110px;
}

.card-botoes a {
    font-size: 1em;
}

#habilidade-titulo, #projeto-titulo {
    font-size: 0.9em;
}

}

@media screen and (min-width: 768px) {
    
.projetos-section {
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 10%;
}

.outro-projeto-article {
    grid-template-rows: 300px 120px;
    padding-bottom: 20px;
}

}

@media screen and (min-width: 1024px) {

    header {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .cabecalho {
        padding: 20px 30px;
        flex-flow: row nowrap;
        align-items: center;
    }

    .texto-topico {
        font-size: 1.1em;
    }

    .titulo {
        grid-column: 1;
        grid-row: 1;
        text-align: start;
        margin-top: 0;
        margin-bottom: 0;
    }

    .link-curriculo {
        display: flex;
        align-items: center;
    }

    .link-fechado {
        transform: translateX(calc(50%));
        transition: 0.2s ease;
    }

    .link-fechado.ativado {
        transform: translateX(calc(50% + 10vw));
        opacity: 0;
    }

    .link-fechado i {
        color: #44403c;
        font-size: 1.2em;
        text-shadow: 1px 1px 1px #0000002a;
    }

    .link-aberto {
        pointer-events: none;
        opacity: 0;
        transform: translateX(10vw);
        background-color: beige;
        box-shadow: 1px 1px 1px #0000002a;
        padding: 6px;
        border-radius: 8px;
        margin-top: 4px;
        cursor: pointer;
        transition: 0.1s linear, transform 0.4s ease;
    }

    .link-aberto a {
        color: #27272a;
        text-decoration: none;
    }

    .link-aberto.ativado {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(-25%);
    }

    #seta-curriculo {
        font-size: 1.1em;
        cursor: pointer;
    }

    .conteudo-header {
        grid-row: 2;
        display: grid;
        padding: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;  
        margin-top: 0px;
    }

    .perfil {
        grid-column: 2;
        grid-row: 1;
        max-width: 500px;
        min-height: 350px;
        justify-self: center;
        animation: bounce 5s linear infinite;
        will-change: transform;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-12px);
        }
    }

    .descricao {
        grid-column: 1;
        grid-row: 1;
        max-width: 90%;
        max-height: 90%;
        margin-top: 0px;
    }

    .container-principal {
        padding: 0px 15px;
    }

    .container-principal {
        padding: 0px 60px;
    }

    .item-habilidade {
        min-width: 30%;
        max-width: 30%;
        min-height: 120px;
        max-height: 120px;
    }

    .projetos-section {
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: center;
        gap: 10%;
    }

    .projeto-article {
        grid-template-rows: 400px 110px;
    }

    .outro-projeto-article {
        padding-bottom: 0px;
    }

    .sobre-mim-article {
        grid-template-rows: auto;
        grid-template-columns: 30% 1fr;
    }

    .foto-grid {
        border-bottom: none;
        border-right: 1px solid #0f172a1a;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 6px;
    }

    .foto-grid img {
        max-height: 300px;
        max-width: 300px;
    }

    .texto-grid {
        background-color: white;
        border-radius: 6px;
        padding: 20px;
    }

    .texto-grid h1 {
        margin-bottom: 12px;
        font-size: 1.6em;
    }

    footer {
        margin-top: 20vh;
        padding: 30px;
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .ropade-titulo {
        border-right: 1.4px solid #0000002a;
    }

    .ropade-titulo h1 {
        font-size: 1.2em;
        font-weight: 600;
    }

    .ropade-titulo h2 {
        font-weight: 300;
        font-size: 0.9em;
        max-width: 80%;
        margin: 6px 0px 20px 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid #0f172a1a;
    }

    .ropade-titulo h3 {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: 1px;
    }

    .rodape-navegacao {
        border-right: 1.4px solid #0000002a;
    }

    .rodape-navegacao h1 {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .rodape-navegacao a {
        display: block;
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 10px;
        cursor: pointer;
        color: #2563eb;
        text-decoration: none;
    }

    .rodape-contato h1 {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .rodape-contato a {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        color: #06b6d4;
        text-decoration: none;
        font-size: 1em;
    }

    .rodape-contato a.contato-nao-clicavel {
        cursor: text;
    }

    .rodape-contato > a > i {
        margin-right: 4px;
    }

}
